$main-blue: #c0d1da;
$dark-blue: #6f90a0;

html, body {
  margin: 0;
  padding: 0;
  color: $dark-blue;
  background-color: $main-blue;
  font-family: arial;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #e7eded;
  border: $dark-blue 5px solid;
  margin: 20px;
  padding: 5px;
  height: 500px;

  h1 {
    margin: auto;
  }

  .QuizBox{
    display: flex;
    justify-content: center;
    background-color: pink;
    height: 500px;
    width: 500px;

    .display{
      background-color: red;
      margin: auto; 
      font-size: 22px;
      height: 100px;
      width: 100px;
    }

    .SubmitForm{
      background-color: green;
    }
  }
}
