$main-blue: #c0d1da;
$dark-blue: #6f90a0;

html, body {
  margin: 0;
  padding: 0;
  color: $dark-blue;
  background-color: $main-blue;
  font-family: arial;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #e7eded;
  border: $dark-blue 5px solid;
  margin: 20px;
  padding: 5px;
  height: 500px;

  h1 {
    margin: auto;
  }

  .QuizBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: pink;
    margin: auto;
    height: 500px;
    width: 600px;

    .display{
      height: 100px;
      width: 100px;
      line-height: 100px;
      text-align: center;
      margin: auto;
      font-size: 50px;
    }

    .SubmitForm{
      background-color: green;
    }

    .AnswerRevealBox{
      background-color: orange;
    }

    .ProgressBar {
      background-color: yellow;
    }
  }
}
