$main-blue: #abc3ea;
$dark-blue: #428896;

html, body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: $main-blue;
  font-family: monospace;
}

.App {
  // display: flex;
  // background-color: $dark-blue;
  // margin: 10px;
  // padding: 5px;

  h1 {
    margin: 10px;
  }
}

.Quizbox {
  // display: flex;
  // justify-content: center;
  height: 500px;
  width: 500px;
  background-color: red;
  flex-direction: column;
  border: $dark-blue solid 2px;
}
